*{
    transition: all 0.6s;
    text-decoration: none;
}

main {
    display: grid;
    place-items: center;
    justify-content: center;
}
#error-404{
    display: table;
    text-align: center;
    height: 100vh;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}
.fof a {
    color:#1976d2;
}
@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}